@font-face {
    font-family: 'icomoon2';
    src: url('fonts/icomoon.eot?-4dh28n');
    src: url('fonts/icomoon.eot?#iefix-4dh28n') format('embedded-opentype'),
    url('fonts/icomoon.ttf?-4dh28n') format('truetype'),
    url('fonts/icomoon.woff?-4dh28n') format('woff'),
    url('fonts/icomoon.svg?-4dh28n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="iconf-"], [class*=" iconf-"] {
    font-family: 'icomoon2';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    speak: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: inherit;
    text-rendering: auto;
    display: inline-block;
}

.iconf-mobile:before {
    content: "\e000";
}

.iconf-laptop:before {
    content: "\e001";
}

.iconf-desktop:before {
    content: "\e002";
}

.iconf-tablet:before {
    content: "\e003";
}

.iconf-phone:before {
    content: "\e004";
}

.iconf-document:before {
    content: "\e005";
}

.iconf-documents:before {
    content: "\e006";
}

.iconf-search:before {
    content: "\e007";
}

.iconf-clipboard:before {
    content: "\e008";
}

.iconf-newspaper:before {
    content: "\e009";
}

.iconf-notebook:before {
    content: "\e00a";
}

.iconf-book-open:before {
    content: "\e00b";
}

.iconf-browser:before {
    content: "\e00c";
}

.iconf-calendar:before {
    content: "\e00d";
}

.iconf-presentation:before {
    content: "\e00e";
}

.iconf-picture:before {
    content: "\e00f";
}

.iconf-pictures:before {
    content: "\e010";
}

.iconf-video:before {
    content: "\e011";
}

.iconf-camera:before {
    content: "\e012";
}

.iconf-printer:before {
    content: "\e013";
}

.iconf-toolbox:before {
    content: "\e014";
}

.iconf-briefcase:before {
    content: "\e015";
}

.iconf-wallet:before {
    content: "\e016";
}

.iconf-gift:before {
    content: "\e017";
}

.iconf-bargraph:before {
    content: "\e018";
}

.iconf-grid:before {
    content: "\e019";
}

.iconf-expand:before {
    content: "\e01a";
}

.iconf-focus:before {
    content: "\e01b";
}

.iconf-edit:before {
    content: "\e01c";
}

.iconf-adjustments:before {
    content: "\e01d";
}

.iconf-ribbon:before {
    content: "\e01e";
}

.iconf-hourglass:before {
    content: "\e01f";
}

.iconf-lock:before {
    content: "\e020";
}

.iconf-megaphone:before {
    content: "\e021";
}

.iconf-shield:before {
    content: "\e022";
}

.iconf-trophy:before {
    content: "\e023";
}

.iconf-flag:before {
    content: "\e024";
}

.iconf-map:before {
    content: "\e025";
}

.iconf-puzzle:before {
    content: "\e026";
}

.iconf-basket:before {
    content: "\e027";
}

.iconf-envelope:before {
    content: "\e028";
}

.iconf-streetsign:before {
    content: "\e029";
}

.iconf-telescope:before {
    content: "\e02a";
}

.iconf-gears:before {
    content: "\e02b";
}

.iconf-key:before {
    content: "\e02c";
}

.iconf-paperclip:before {
    content: "\e02d";
}

.iconf-attachment:before {
    content: "\e02e";
}

.iconf-pricetags:before {
    content: "\e02f";
}

.iconf-lightbulb:before {
    content: "\e030";
}

.iconf-layers:before {
    content: "\e031";
}

.iconf-pencil:before {
    content: "\e032";
}

.iconf-tools:before {
    content: "\e033";
}

.iconf-tools-2:before {
    content: "\e034";
}

.iconf-scissors:before {
    content: "\e035";
}

.iconf-paintbrush:before {
    content: "\e036";
}

.iconf-magnifying-glass:before {
    content: "\e037";
}

.iconf-circle-compass:before {
    content: "\e038";
}

.iconf-linegraph:before {
    content: "\e039";
}

.iconf-mic:before {
    content: "\e03a";
}

.iconf-strategy:before {
    content: "\e03b";
}

.iconf-beaker:before {
    content: "\e03c";
}

.iconf-caution:before {
    content: "\e03d";
}

.iconf-recycle:before {
    content: "\e03e";
}

.iconf-anchor:before {
    content: "\e03f";
}

.iconf-profile-male:before {
    content: "\e040";
}

.iconf-profile-female:before {
    content: "\e041";
}

.iconf-bike:before {
    content: "\e042";
}

.iconf-wine:before {
    content: "\e043";
}

.iconf-hotairballoon:before {
    content: "\e044";
}

.iconf-globe:before {
    content: "\e045";
}

.iconf-genius:before {
    content: "\e046";
}

.iconf-map-pin:before {
    content: "\e047";
}

.iconf-dial:before {
    content: "\e048";
}

.iconf-chat:before {
    content: "\e049";
}

.iconf-heart:before {
    content: "\e04a";
}

.iconf-cloud:before {
    content: "\e04b";
}

.iconf-upload:before {
    content: "\e04c";
}

.iconf-download:before {
    content: "\e04d";
}

.iconf-target:before {
    content: "\e04e";
}

.iconf-hazardous:before {
    content: "\e04f";
}

.iconf-piechart:before {
    content: "\e050";
}

.iconf-speedometer:before {
    content: "\e051";
}

.iconf-global:before {
    content: "\e052";
}

.iconf-compass:before {
    content: "\e053";
}

.iconf-lifesaver:before {
    content: "\e054";
}

.iconf-clock:before {
    content: "\e055";
}

.iconf-aperture:before {
    content: "\e056";
}

.iconf-quote:before {
    content: "\e057";
}

.iconf-scope:before {
    content: "\e058";
}

.iconf-alarmclock:before {
    content: "\e059";
}

.iconf-refresh:before {
    content: "\e05a";
}

.iconf-happy:before {
    content: "\e05b";
}

.iconf-sad:before {
    content: "\e05c";
}

.iconf-facebook:before {
    content: "\e05d";
}

.iconf-twitter:before {
    content: "\e05e";
}

.iconf-googleplus:before {
    content: "\e05f";
}

.iconf-rss:before {
    content: "\e060";
}

.iconf-tumblr:before {
    content: "\e061";
}

.iconf-linkedin:before {
    content: "\e062";
}

.iconf-dribbble:before {
    content: "\e063";
}

.iconf-download2:before {
    content: "\e600";
}

.iconf-chat2:before {
    content: "\e601";
}

.iconf-archive2:before {
    content: "\e602";
}

.iconf-user:before {
    content: "\e603";
}

.iconf-users:before {
    content: "\e604";
}

.iconf-archive3:before {
    content: "\e605";
}

.iconf-earth:before {
    content: "\e606";
}

.iconf-location2:before {
    content: "\e607";
}

.iconf-contract2:before {
    content: "\e608";
}

.iconf-mobile2:before {
    content: "\e609";
}

.iconf-screen:before {
    content: "\e60a";
}

.iconf-mail2:before {
    content: "\e60b";
}

.iconf-support:before {
    content: "\e60c";
}

.iconf-help2:before {
    content: "\e60d";
}

.iconf-videos:before {
    content: "\e60e";
}

.iconf-pictures2:before {
    content: "\e60f";
}

.iconf-link2:before {
    content: "\e610";
}

.iconf-search2:before {
    content: "\e611";
}

.iconf-cog2:before {
    content: "\e612";
}

.iconf-trashcan:before {
    content: "\e613";
}

.iconf-pencil2:before {
    content: "\e614";
}

.iconf-info:before {
    content: "\e615";
}

.iconf-article:before {
    content: "\e616";
}

.iconf-clock2:before {
    content: "\e617";
}

.iconf-photoshop:before {
    content: "\e618";
}

.iconf-illustrator:before {
    content: "\e619";
}

.iconf-star2:before {
    content: "\e61a";
}

.iconf-heart2:before {
    content: "\e61b";
}

.iconf-bookmark:before {
    content: "\e61c";
}

.iconf-file2:before {
    content: "\e61d";
}

.iconf-feed:before {
    content: "\e61e";
}

.iconf-locked:before {
    content: "\e61f";
}

.iconf-unlocked:before {
    content: "\e620";
}

.iconf-refresh2:before {
    content: "\e621";
}

.iconf-list:before {
    content: "\e622";
}

.iconf-share2:before {
    content: "\e623";
}

.iconf-archive4:before {
    content: "\e624";
}

.iconf-images:before {
    content: "\e625";
}

.iconf-images2:before {
    content: "\e626";
}

.iconf-pencil22:before {
    content: "\e627";
}

.iconf-eye2:before {
    content: "\e064";
}

.iconf-paper-clip:before {
    content: "\e065";
}

.iconf-mail3:before {
    content: "\e066";
}

.iconf-toggle:before {
    content: "\e067";
}

.iconf-layout:before {
    content: "\e069";
}

.iconf-link3:before {
    content: "\e06a";
}

.iconf-bell2:before {
    content: "\e06b";
}

.iconf-lock2:before {
    content: "\e06c";
}

.iconf-unlock:before {
    content: "\e06d";
}

.iconf-ribbon2:before {
    content: "\e06e";
}

.iconf-image2:before {
    content: "\e06f";
}

.iconf-signal2:before {
    content: "\e070";
}

.iconf-target22:before {
    content: "\e071";
}

.iconf-clipboard2:before {
    content: "\e072";
}

.iconf-clock22:before {
    content: "\e073";
}

.iconf-watch:before {
    content: "\e074";
}

.iconf-air-play:before {
    content: "\e075";
}

.iconf-camera22:before {
    content: "\e076";
}

.iconf-video2:before {
    content: "\e077";
}

.iconf-disc:before {
    content: "\e078";
}

.iconf-printer22:before {
    content: "\e079";
}

.iconf-monitor:before {
    content: "\e07a";
}

.iconf-server:before {
    content: "\e07b";
}

.iconf-cog3:before {
    content: "\e07c";
}

.iconf-heart22:before {
    content: "\e07d";
}

.iconf-paragraph:before {
    content: "\e07e";
}

.iconf-align-justify:before {
    content: "\e07f";
}

.iconf-align-left2:before {
    content: "\e080";
}

.iconf-align-center:before {
    content: "\e081";
}

.iconf-align-right2:before {
    content: "\e082";
}

.iconf-book2:before {
    content: "\e083";
}

.iconf-layers2:before {
    content: "\e084";
}

.iconf-stack:before {
    content: "\e085";
}

.iconf-stack-2:before {
    content: "\e086";
}

.iconf-paper:before {
    content: "\e087";
}

.iconf-paper-stack:before {
    content: "\e088";
}

.iconf-search22:before {
    content: "\e089";
}

.iconf-zoom-in:before {
    content: "\e08a";
}

.iconf-zoom-out:before {
    content: "\e08b";
}

.iconf-reply2:before {
    content: "\e08c";
}

.iconf-circle-plus:before {
    content: "\e08d";
}

.iconf-circle-minus:before {
    content: "\e0b7";
}

.iconf-circle-check:before {
    content: "\e0b8";
}

.iconf-circle-cross:before {
    content: "\e0b9";
}

.iconf-square-plus:before {
    content: "\e0ba";
}

.iconf-square-minus:before {
    content: "\e0bb";
}

.iconf-square-check:before {
    content: "\e0bc";
}

.iconf-square-cross:before {
    content: "\e0c0";
}

.iconf-microphone:before {
    content: "\e0c1";
}

.iconf-record:before {
    content: "\e0c8";
}

.iconf-skip-back:before {
    content: "\e0c9";
}

.iconf-rewind:before {
    content: "\e0ca";
}

.iconf-play:before {
    content: "\e0cb";
}

.iconf-pause:before {
    content: "\e0cc";
}

.iconf-stop:before {
    content: "\e0cd";
}

.iconf-fast-forward:before {
    content: "\e0ce";
}

.iconf-skip-forward:before {
    content: "\e0cf";
}

.iconf-shuffle2:before {
    content: "\e0d0";
}

.iconf-repeat:before {
    content: "\e0d1";
}

.iconf-folder2:before {
    content: "\e0d2";
}

.iconf-umbrella:before {
    content: "\e0d3";
}

.iconf-moon2:before {
    content: "\e0d4";
}

.iconf-thermometer2:before {
    content: "\e0d5";
}

.iconf-drop2:before {
    content: "\e0d6";
}

.iconf-sun:before {
    content: "\e0d7";
}

.iconf-cloud22:before {
    content: "\e0d8";
}

.iconf-cloud-upload:before {
    content: "\e0d9";
}

.iconf-cloud-download:before {
    content: "\e0da";
}

.iconf-upload22:before {
    content: "\e0db";
}

.iconf-download22:before {
    content: "\e0dc";
}

.iconf-location3:before {
    content: "\e0dd";
}

.iconf-location-2:before {
    content: "\e0de";
}

.iconf-map2:before {
    content: "\e0df";
}

.iconf-battery2:before {
    content: "\e0e0";
}

.iconf-head:before {
    content: "\e0e1";
}

.iconf-briefcase2:before {
    content: "\e0e2";
}

.iconf-speech-bubble:before {
    content: "\e0e3";
}

.iconf-anchor2:before {
    content: "\e0e4";
}

.iconf-globe2:before {
    content: "\e0e5";
}

.iconf-box2:before {
    content: "\e0e6";
}

.iconf-reload:before {
    content: "\e0e7";
}

.iconf-share3:before {
    content: "\e0e8";
}

.iconf-marquee:before {
    content: "\e0e9";
}

.iconf-marquee-plus:before {
    content: "\e0ea";
}

.iconf-marquee-minus:before {
    content: "\e0ec";
}

.iconf-tag2:before {
    content: "\e0ed";
}

.iconf-power:before {
    content: "\e0ee";
}

.iconf-command:before {
    content: "\e0ef";
}

.iconf-alt:before {
    content: "\e0f0";
}

.iconf-esc:before {
    content: "\e0f1";
}

.iconf-bar-graph2:before {
    content: "\e0f2";
}

.iconf-bar-graph-2:before {
    content: "\e0f3";
}

.iconf-pie-graph:before {
    content: "\e0f4";
}

.iconf-star3:before {
    content: "\e0f5";
}

.iconf-arrow-left2:before {
    content: "\e0f7";
}

.iconf-arrow-right2:before {
    content: "\e0f9";
}

.iconf-arrow-up2:before {
    content: "\e0fa";
}

.iconf-arrow-down2:before {
    content: "\e0fb";
}

.iconf-volume:before {
    content: "\e0fc";
}

.iconf-mute:before {
    content: "\e0fd";
}

.iconf-content-right:before {
    content: "\e103";
}

.iconf-content-left:before {
    content: "\e104";
}

.iconf-grid2:before {
    content: "\e105";
}

.iconf-grid-2:before {
    content: "\e106";
}

.iconf-columns:before {
    content: "\e107";
}

.iconf-loader:before {
    content: "\e108";
}

.iconf-bag:before {
    content: "\e109";
}

.iconf-ban:before {
    content: "\e10a";
}

.iconf-flag22:before {
    content: "\e10b";
}

.iconf-trash2:before {
    content: "\e10c";
}

.iconf-expand2:before {
    content: "\e110";
}

.iconf-contract:before {
    content: "\e111";
}

.iconf-maximize:before {
    content: "\e112";
}

.iconf-minimize:before {
    content: "\e113";
}

.iconf-plus2:before {
    content: "\e114";
}

.iconf-minus2:before {
    content: "\e115";
}

.iconf-check2:before {
    content: "\e116";
}

.iconf-cross2:before {
    content: "\e117";
}

.iconf-move:before {
    content: "\e118";
}

.iconf-delete:before {
    content: "\e119";
}

.iconf-menu2:before {
    content: "\e120";
}

.iconf-archive5:before {
    content: "\e121";
}

.iconf-inbox2:before {
    content: "\e122";
}

.iconf-outbox:before {
    content: "\e123";
}

.iconf-file:before {
    content: "\e124";
}

.iconf-file-add:before {
    content: "\e125";
}

.iconf-file-subtract:before {
    content: "\e126";
}

.iconf-help3:before {
    content: "\e127";
}

.iconf-open:before {
    content: "\e128";
}

.iconf-ellipsis:before {
    content: "\e129";
}

.iconf-uni9E:before {
    content: "\9e";
}

.iconf-uniB5:before {
    content: "\b5";
}

.iconf-uniB7:before {
    content: "\b7";
}
